@import url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    font-family: 'Press Start 2P', cursive;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login {

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login img {

    width: 100px;
}

.login h1 {
    color: #333;
    font-size: 1.5em;
}

.login_input {
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    font-size: 1em;
    margin-bottom: 10px;
    width: 100%;
    max-width: 200px;
    outline: none;
    padding: 5px;

}

.login_button {
    background-color: rgb(235, 86, 86);
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    max-width: 200px;

}

.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}